version: 2

defaults: &defaults
  parallelism: 1
  working_directory: ~/podlove-subscribe-button

defaults-js: &defaults-js
  <<: *defaults
  shell: /bin/bash --login
  environment:
    CIRCLE_ARTIFACTS: /tmp/circleci-artifacts
    CIRCLE_TEST_REPORTS: /tmp/circleci-test-results
  docker:
  - image: circleci/node:8

jobs:
  build:
    <<: *defaults-js
    steps:
    - attach_workspace:
        at: ~/podlove-subscribe-button
    - checkout
    - run: export PATH="$PATH:${HOME}/${CIRCLE_PROJECT_REPONAME}/node_modules/.bin"
    - run: mkdir -p $CIRCLE_ARTIFACTS $CIRCLE_TEST_REPORTS
    - run: nvm install 8.12.0 && nvm alias default 8.12.0
    - restore_cache:
        keys:
        # This branch if available
        - v1-dep-{{ .Branch }}-
        # Default branch if not
        - v1-dep-master-
        # Any branch if there are none on the default branch - this should be unnecessary if you have your default branch configured correctly
        - v1-dep-
    # This is based on your 1.0 configuration file or project settings
    - run: yarn
    - run: npm rebuild node-sass
    # Save dependency cache
    - save_cache:
        key: v1-dep-{{ .Branch }}-{{ epoch }}
        paths:
        # This is a broad list of cache paths to include many possible development environments
        # You can probably delete some of these entries
        - vendor/bundle
        - ~/virtualenvs
        - ~/.m2
        - ~/.ivy2
        - ~/.bundle
        - ~/.go_workspace
        - ~/.gradle
        - ~/.cache/bower
        # These cache paths were specified in the 1.0 config
        - ~/.cache/yarn
        - ./node_modules
    # Compile
    #   This would typically go in either a build or a build-and-test job when using workflows
    # This is based on your 1.0 configuration file or project settings
    - run: yarn clean
    - run: yarn build
    # Save test results
    - store_test_results:
        path: /tmp/circleci-test-results
    # Save artifacts
    - store_artifacts:
        path: /tmp/circleci-artifacts
    - store_artifacts:
        path: /tmp/circleci-test-results
    - persist_to_workspace:
        root: .
        paths: .
  deploy:
    <<: *defaults-js
    steps:
      - attach_workspace:
          at: ~/podlove-subscribe-button
      - add_ssh_keys:
          fingerprints:
            - "f2:a4:32:03:dc:62:7c:dd:0d:99:ce:1c:35:88:2b:1b"
      - run: yarn deploy:cdn

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
            tags:
              only: /v.*/
