#podlove-subscribe-button-iframe {
  width: 0;
  height: 0;
}

script.podlove-subscribe-button {
  display: none !important;
}

#podlove-subscribe-button,
.podlove-subscribe-button {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  position: relative;

  &:active {
    background-color: #61937b;
  }

  &:hover {
    background-color: #75c39d;
  }

  span {
    text-align: center;

    display: inline-block;
    position: relative;
  }
}

#podlove-subscribe-button {
  text-align: center;

  span {

    &::before {
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
      display: inline-block;
      margin: 0;
      position: absolute;
    }
  }

  &.small {
    font-size: 10px;

    padding: 0 10px;
    width: auto;
    height: 27px;

    span {
      padding-left: 21px;

      &::before {
        background-image: url('../images/icon-small.png');
        left: -1px;
        top: -3px;
        width: 18px;
        height: 18px;
      }
    }
  }

  &.medium {
    font-size: 12px;

    padding: 0 24px;
    height: 41px;

    span {
      padding-left: 23px;

      &::before {
        background-image: url('../images/icon-medium.png');
        left: -7px;
        top: -6px;
        width: 25px;
        height: 25px;
      }
    }
  }

  &.big,
  &.big-logo {
    font-size: 16px;

    padding: 0 32px;
    height: 54px;

    span {
      padding-left: 25px;

      &::before {
        background-image: url('../images/icon-big.png');
        left: -11px;
        top: -6px;
        width: 30px;
        height: 30px;
      }
    }
  }

  &.auto {
    width: 100%;
  }
}

#podlove-subscribe-button-logo {
  cursor: pointer;
  display: none;

  &::before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
  }
}

#podlove-subscribe-button-title {
  color: #fff;
  font-family: 'Roboto' !important;
  font-size: 14px !important;
  text-align: center;

  background-color: rgba(127, 127, 127, 0.6);
  display: none;
  overflow-wrap: break-word;
  padding: 4px;
}
