#podlove-subscribe-popup {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 100%;
  left: 0;
  margin: 0 auto;
  overflow-y: scroll;
  padding: 0;
  position: fixed;
  top: 0;
  vertical-align: middle;
  width: 100%;
  z-index: 99999;

  h1, h2 {
    font-family: 'Roboto' !important;
    font-size: 20px !important;
    margin: 10px 0 0;
  }

  h2 {
    font-size: 16px !important;
  }

  #podlove-subscribe-popup-close-button,
  #podlove-subscribe-popup-help-button {
    color: #75ad91;
    cursor: pointer;
    height: 44px;
    padding: 12px 0;
    position: absolute;
    top: 0;
    width: 44px;

    &::before {
      font-family: 'Icons' !important;
      font-size: 20px;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      line-height: 1;
      speak: none;
      text-transform: none;
    }
  }

  #podlove-subscribe-popup-help-button {
    left: 0;
    -moz-transition: transform 0.25s cubic-bezier(0.62, 0.28, 0.23, 0.99);
    -o-transition: transform 0.25s cubic-bezier(0.62, 0.28, 0.23, 0.99);
    -webkit-transition: transform 0.25s cubic-bezier(0.62, 0.28, 0.23, 0.99);
    transition: transform 0.25s cubic-bezier(0.62, 0.28, 0.23, 0.99);

    &::before {
      content: '\e8fd';
    }
  }

  #podlove-subscribe-popup-close-button {
    right: 0;

    &::before {
      content: '\e888';
    }
  }

  #podlove-subscribe-button-help-panel {
    background: rgb(26, 26, 26);
    color: #fff;
    font-family: Roboto !important;
    font-weight: 300;
    font-size: 95% !important;
    height: calc(100% - 40px);
    left: -100%;
    overflow-y: auto;
    position: absolute;
    top: 40px;
    transition: all 0.3s ease-out;
    width: 100%;

    &.visible {
      left: 0;
    }

    .podlove-subscribe-button-help-panel-content {
      padding: 15px 25px;

      & > * {
        opacity: 0.8;
        text-align: left;
      }

      & > h2 {
        margin-top: 0 !important;
      }
    }
  }

  .podlove-subscribe-back-button {
    cursor: pointer;
    display: none;
    font-size: 24px !important;
    line-height: 26px;
    padding: 6px 10px 9px 9px;
    position: absolute;
    text-decoration: none;
    top: 10px;
  }

  #podlove-subscribe-popup-modal {
    background-color: #fff;
    border-radius: 1px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    height: 460px;
    margin: -230px auto 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    top: 50%;
    width: 300px;

    .podlove-logo {
      display: inline-block;
      text-align: center;
      width: 100%;

      img {
        margin-top: 6px;
        width: 130px;
      }
    }

    button {
      text-transform: none;
    }

    .top-bar {
      color: #aaa;
      font-size: 14px !important;
      font-weight: 300 !important;
      height: 46px;
      left: 0;
      line-height: 14px !important;
      padding: 17px 0 15px 0;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 0;
      width: 100%;
      z-index: 1;

      .podlove-subscribe-back-button {
        cursor: pointer;
        font-size: 30px !important;
        font-family: Roboto !important;
        font-weight: 300;
        left: 0px;
        position: absolute;
        text-align: center;
        top: -2px;
        width: 40px;
      }
    }

    #podlove-subscribe-popup-modal-inner {
      height: 100%;
      overflow: hidden;
      position: relative;

      h1 {
        margin: 0 0 15px;
      }

      h2 {
        margin: 15px 0 5px;
        text-align: left;
      }
    }
  }

  #podlove-subscribe-panel-podcast,
  #podlove-subscribe-panel-format,
  #podlove-subscribe-panel-type,
  #podlove-subscribe-panel-clients,
  #podlove-subscribe-panel-finish {
    background-color: #fff;
    color: #444;
    height: 100%;
    left: 100%;
    padding: 64px 20px 40px 20px;
    position: absolute;
    top: 0;
    width: 100%;

    transition: all 0.2s linear;

  }

  #podlove-subscribe-panel-podcast {
    font-size: 14px !important;
    left: 0;
    text-align: center;

    img.podcast-cover {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      height: 160px;
      width: 160px;
    }
  }

  #podlove-subscribe-panel-podcast,
  #podlove-subscribe-panel-finish {
    .podlove-subscribe-button {
      -moz-box-shadow: 0 1px 0 rgba(0,0,1,.2), inset 0 -6px 0 rgba(0,0,1,.2);
      -webkit-box-shadow: 0 1px 0 rgba(0,0,1,.2), inset 0 -6px 0 rgba(0,0,1,.2);
      box-shadow: 0 1px 0 rgba(0,0,1,.2), inset 0 -6px 0 rgba(0,0,1,.2);
      border: 1px solid #456757;
      border-radius: 0;
      bottom: 0;
      color: #fff;
      font-size: 18px !important;
      height: 50px;
      left: 0;
      margin: 0 0 5% 5%;
      outline: none;
      position: absolute;
      text-decoration: none;
      top: auto;
      width: 90%;
    }
  }

  #podlove-subscribe-panel-finish {
    .podlove-subscribe-button {
      padding: 8px 0;
      position: relative;
    }
  }

  #podlove-subscribe-panel-clients {
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;

    .device-cloud-switch {
      text-align: center;
      margin-bottom: 10px;

      button {
        background: #fff;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        border: 1px solid rgb(26, 26, 26);
        color: rgb(26, 26, 26);
        cursor: pointer;
        font-size: 12px !important;
        font-weight: normal;
        height: 27px;
        margin: 0;
        outline: none;
        padding: 5px;
        position: relative;
        right: -2px;
        text-transform: none;
        top: -1px;
        width: 65px;
      }

      button + button {
        border-radius: 0;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        left: -3px;
      }

      button.active {
        background: rgb(26, 26, 26);
        color: #fff;
      }
    }

    .client-list {
      height: 341px;
      line-height: 30px;
      overflow-y: auto;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    ul.cloud-clients {
      display: none;
    }

    li {
      font-size: 22px !important;
      list-style: none;
      position: relative;
      text-align: left;
    }

    li:hover {
      background: #328398;
      color: #fff;
      cursor: pointer;
    }

    li img {
      height: 30px !important;
      left: 20px;
      position: absolute;
      width: 30px !important;
    }

    li a {
      border: none;
      color: inherit;
      display: block;
      padding: 8px 20px 8px 60px;
      text-decoration: none;
    }

    li button {
      color: inherit;
      display: block;
      padding: 8px 20px 8px 60px;
      text-decoration: none;
    }
  }

  #podlove-subscribe-panel-finish {
    font-size: 14px !important;
    text-align: center;

    img {
      margin-top: 0;
      margin-bottom: 15px;
      max-width: 100px;
    }

    h1 {
      line-height: 1.4em;
    }

    a {
      color: inherit;
    }

    input {
      font-size: 16px !important;
      height: 40px;
      width: 100%;
    }

    .store-button {
      margin: 5px 0 0;
      max-width: 50%;
    }
  }

  #podlove-subscribe-list {
    display: block;
    left: 0;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin: 0 auto;
      padding: 5px 15px;
      position: relative;
      z-index: 10;

      &:hover {
        background-color: rgb(243, 87, 1);

        &:after {
          left: 100%;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }

        &:after {
          border-color: rgba(136, 183, 213, 0);
          border-left-color: rgb(243, 87, 1);
          border-width: 24px;
          margin-top: -24px;
        }
      }

      & + li {
        margin-top: 5px;
      }

      a {
        color: #fff;
        display: block;
        line-height: 24px;
        text-decoration: none;
      }

      img {
        height: 32px;
        margin-right: 10px;
        position: relative;
        top: 4px;
      }

      span {
        position: relative;
        top: -5px;
      }
    }
  }

  .podlove-subscribe-link-input {
    input {
      border: 1px solid #444;
      border-radius: 3px;
      margin-left: -3px;
      padding: 10px 5px;
      width: 98%;
    }
  }
}
