// Color variables

$color-black-alpha: rgba(0, 0, 0, 0.5);

$color-gray-1: #666666; // main font-color on white
$color-gray-3: #AAAAAA; // more decent font-color on white
$color-gray-4: #CBCBCB; // decent border-color
$color-gray-5: #E1E1E1; // prominent border-color
$color-gray-2: #F2F2F2; // used as background-color for decent containers, e.g. popup-footer

$color-white: #FFFFFF;


// Project variables

$button-height-small: 27px;
$button-height-medium: 41px;
$button-height-big: 54px;

$popup-width: 300px;
