html {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

.subscribe-it *,
.subscribe-it *:before,
.subscribe-it *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

#subscribe-it-button {
  background: #0961E5;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica';
  padding: 10px;
  position: relative;
}

#subscribe-it-popup {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  height: 100%;
  margin: 0 auto;
  padding: 10px 0;
  width: 400px;

  h1, h2 {
    font-family: Helvetica;
    font-size: 20px;
    margin: 10px 0 0;
    text-align: center;
  }

  h2 {
    font-size: 16px;
  }

  #subscribe-it-popup-close-button {
    cursor: pointer;
    font-size: 20px;
    line-height: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  #subscribe-it-list-container {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 #222;
    padding: 30px;
    position: relative;

    h1 {
      margin: 0 0 15px;
    }

    h2 {
      margin: 15px 0 5px;
      text-align: left;
    }
  }

  #subscribe-it-list {
    display: block;
    font-family: Helvetica;
    left: 0;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      background: #0961E5;
      border-radius: 3px;
      list-style: none;
      margin: 0 auto;

      & + li {
        margin-top: 10px;
      }

      a {
        color: #fff;
        display: block;
        line-height: 24px;
        padding: 5px 0;
        text-decoration: none;
      }

      img {
        height: 20px;
        margin-right: 5px;
        position: relative;
        top: 4px;
      }
    }
  }

  .subscribe-it-link-input {
    background: transparent;
    padding: 0;

    input {
      border: 1px solid #0961E5;
      border-radius: 3px;
      margin-left: -3px;
      padding: 10px 5px;
      width: 98%;
    }
  }
}

@media (max-width: 430px) {
  #subscribe-it-popup {
    width: 90%;
  }
}
